
body{
    user-select: none;
    background-image:url("images/bg2.png");
    background-size:cover;
    background-repeat: repeat;
    background-color: #575757;
    margin:0;
    padding:0;
}

#phoneBg{
    background-image:url("images/bg2.png");
    background-size:cover;
    background-repeat: repeat;
    display:none;
    position:absolute;
    z-index:1000;
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    top:0;
    left:0;
}

#phoneBg>h3{
    z-index:1000;
    position:absolute;
    top:1vh;
    width: 100vw;
    height: 28vw;
    display:block;
    font-size:35pt;
    color: #eaeaea;
    font-family: "Fjalla One",sans-serif;
    text-align:center;
}

#phoneBg>p{
    top:80vh;
    height:3vh;
    font-size:20pt;
    font-family: "Fjalla One",sans-serif;
    position:absolute;
    width: 100vw;
    display:block;
    color: #eaeaea;
    text-align:center;
}

#phone {
    position:absolute;
    top:30vh;
    left:42vw;
    margin: auto;
    width: 14vw;
    height:auto;
    animation: mymove 6s infinite;
}

@keyframes mymove {
    50% {transform: rotate(90deg);}
}


/* HOMEPAGE */
#start{
    position:absolute;
    width:35vw;
    height:auto;
    top:75vh;
    left:70vw;
    transform: translate(-50%, -50%);
}

#start:hover{
    width:40vw;
    height:auto;
}

#title{
    position:absolute;
    width:35vw;
    height:auto;
    top:10vh;
    left:10vw;
}

aside{
    position:absolute;
    width:4vw;
    height:90vh;
    left:5vw;
    top:50vh;
    transform: translate(-50%, -50%);
}

.disc{
    display:block;
    position:sticky;
    width:3.5vw;
    height:auto;
    margin-top:2vh;
}

/* ECRA 1-4 CRAFTING MENU*/
.crafting_menu{
    display:none;
}
/* The animation code */
@keyframes table {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.crafting_menu>img{
    animation-name: table;
    animation-duration: 1s;
    transform: translate(-50%, -50%);
    left:50vw;
    top:50vh;
    position:fixed;
    display:block;
    text-align: center;
    width:35vw;
    height:auto;
}

#crafting_grid{
    position:fixed;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height:13vw;
    width:13vw;
    transform: translate(-50%, -50%);
    left:43.3vw;
    top:52vh;
    text-align: center;
}

/* INVENTARIO */
.item{
    width:3.4vw;
    height:3.4vw;
}

#i1{
    width:3.4vw;
    height:3.4vw;
    display:none;
}

#i2{
    width:3.4vw;
    height:3.4vw;
    display:none;
}

.inventory{
    display:none;
    width:34.5vw;
}

.inventory>img{
    position:fixed;
    height:auto;
    width:35vw;
    transform: translate(-50%, -50%);
    left:50vw;
    top:79.6vh;
    text-align: center;
}

#inventory_items{
    margin: 1vh 1.5vw 1vh 1.5vw ;
    display: flex;
    justify-content: space-around;
    height: 3.4vw;
    width: 32vw;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left:48.3vw;
    top:78.6vh;
}

#n_cana{
    display:none;
    position: fixed;
    left:36.7vw;
    top:81.3vh;
    transform: translate(-50%, -50%);
}
#n_cana>img{
    height:2.2vw;
    width:auto;
}

#n_leather{
    display:none;
    position: fixed;
    left:40.3vw;
    top:81.3vh;
    transform: translate(-50%, -50%);
}

#n_leather>img{
    height:2.2vw;
    width:auto;
}

#n_papelR{
    display:none;
    position: fixed;
    left:61.5vw;
    top:54vh;
    transform: translate(-50%, -50%);
}

#n_papelR>img{
    height:2.5vw;
    width:auto;
}

/* RESULTADO */
#result{
    position:fixed;
    height:5vw;
    width:5vw;
    transform: translate(-50%, -50%);
    left:60.1vw;
    top:50.5vh;
    text-align: center;
}

@keyframes sugarcane {
    from {opacity: 0;}
    to {opacity: 100%;}
}

/* ECRA CANA */
#sugar_cane{
    animation-name: sugarcane;
    animation-duration: 0.5s;
    display:none;
    position:fixed;
    height:auto;
    width:20vw;
    transform: translate(-50%, -50%);
    left:50vw;
    top:50vh;
    text-align: center;
}

@keyframes cow {
    from {opacity: 0;}
    to {opacity: 100%;}
}

/* ECRA VACA */
#cow{
    animation-name: cow;
    animation-duration: 0.5s;
    position:fixed;
    display:none;
    height:auto;
    width:18vw;
    transform: translate(-50%, -50%);
    left:50vw;
    top:48vh;
    text-align: center;
}


/* ABOUT */
#about{
    display:none;
    position:absolute;
    height:auto;
    width:55vw;
    transform: translate(-50%, -50%);
    left:50vw;
    top:53vh;
    text-align: center;
}

#livro{
    width:55vw;
    height:auto;
}

#page{
    position:fixed;
    height:auto;
    width:24vw;
    transform: translate(-50%, -50%);
    left:39.2vw;
    top:34vh;
    text-align: center;
}

.titulo{
    width:100vw;
    display:none;
    font-size:35pt;
    color: #eaeaea;
    top:14vh;
    font-family: "Fjalla One",sans-serif;
    position:fixed;
    text-align:center;
}

#about>h2{
    top:4vh;
    left:-2vw;
    color: #3b3b3b;
    position: fixed;
    width:20vw;
    height:3vh;
    font-size:20pt;
    font-family: "Fjalla One",sans-serif;
}

#about>p{
    top:10vh;
    left:4.4vw;
    color: #3b3b3b;
    position: fixed;
    width:20vw;
    height:3vh;
    font-size:16pt;
    font-family: "Fjalla One",sans-serif;
    text-align:left;
}

#link1{
    position:fixed;
    width:3vw;
    height:auto;
    transform: translate(-50%, -50%);
    left:6vw;
    top:40vh;
}

#link2{
    position:fixed;
    width:3vw;
    height:auto;
    transform: translate(-50%, -50%);
    left:10vw;
    top:40vh;
}
#close{
    position:fixed;
    width:13vw;
    height:auto;
    transform: translate(-50%, -50%);
    left:14vw;
    top:50vh;
}


/* CONTAINER DOS SONS */
#muteE{
    padding-top:2vh;
    margin-left:2vw;
    width:4vw;
    height:auto;
}


#muteM{
    margin-left:2vw;
    padding-top:2vh;
    width:4vw;
    height:auto;
}


#slidecontainer{
    position:relative;
    display:inline-block;
    width:10vw;
    height:4vh;
    top:-1vh;
}

#cont_som{
    text-align: center;
    display:block;
    position:relative;
    top:4vh;
    float:right;
    width:30vw;
    height:6vh;
}

.slider {
    -webkit-appearance: none;
    width:10vw;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(150,0,140,1) 0%, rgba(93,98,182,1) 51%, rgba(0,94,24,1) 100%);
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border: 0;
    background: url('images/BOLA.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('images/BOLA.png');
    cursor: pointer;
}



#close:hover{
cursor:pointer;
}

#close>img {
    width:13vw;
    height:auto;
}

/* HOVERS */
#cow:hover{
    cursor:pointer;
}

#sugar_cane:hover{
    cursor: pointer;
}

.disc:hover{
    cursor: pointer;
    left:7vw;
}

#botao:hover{
    cursor: pointer;
}

#start:hover{
    cursor: pointer;
}

#muteM:hover{
    cursor:pointer;
}

#muteE:hover{
    cursor:pointer;
}

#i1:hover{
    cursor:pointer;
}

#i2:hover{
    cursor:pointer;
}

#result:hover{
    cursor:pointer;
}





@media (max-width: 1000px) {
    * {
        box-sizing: border-box;
    }

    #phoneBg{
        display:block;
    }

    .titulo{
        top:12vh;
        font-size:25pt;
    }

    #about>h2{
        top:3.5vh;
        left:0;
        font-size:17pt;
    }

    #about>p{
        left:5vw;
        width:18vw;
        height:3vh;
        font-size:11pt;
    }

    #page{
        width:24vw;
        transform: translate(-50%, -50%);
        top:31vh;
    }

    #close{
        top:47vh;
    }
}
